//- vars
block vars
doctype html
head
    meta(name="viewport" content='width=750,user-scalable=yes')
    meta(name="format-detection", content="telephone=no")
    meta(name="SKYPE_TOOLBAR", content="SKYPE_TOOLBAR_PARSER_COMPATIBLE")
html(lang='ja')
    head(prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# " + pageOgpType + ": http://ogp.me/ns/" + pageOgpType + "#")
        title こんリサ〜

        //- CSS Setting
        link(rel='stylesheet', href="./css/style.css?v=201903-01")
        block link

    body#g(class=bodyClass)
        script
            | var isPC = true;
            | (function () { if (navigator.userAgent.toLowerCase().match(/iphone|ipad|android/)) { document.body.classList.add('sp');isPC=false;return; } document.body.classList .add('pc'); })();
        //block body
        .header-nav
            .button-twitter
                a.twitter-share-button(href!="https://twitter.com/share?text=%E3%81%94%E3%81%8D%E3%81%92%E3%82%93%E3%82%88%E3%81%86&url=https%3A%2F%2Fniltea.github.io%2Fhanarisa-button%2F%3Fref%3Dtwbtn", data-show-count="false") Tweet

        #wrapper
            main.mainContent
                h1 こんリサ〜
                p.desc_top
                    a(href="https://www.youtube.com/channel/UCurEA8YoqFwimJcAuSHU0MQ", target="_blank") はなリサちゃん
                    |が喋ってくれるよ。
                    br
                    |バカデカ大声が多いので音量には注意してね。
                .button_wrapper
                    // ざつでゃん【英リサ/vtuber】
                    // https://www.youtube.com/watch?v=FoNBa6yvPp0
                    .button.button-play(data-voice="g6KDRRjkh3s-2m45s") よし……
                    .button.button-play(data-voice="g6KDRRjkh3s-38m33s") ねぇねぇこっち来て……♡
                    // 【APEX】爆音三人衆【ぶいすぽっ！_IBG】
                    // https://www.youtube.com/watch?v=q62MoJc56EU
                    .button.button-play(data-voice="q62MoJc56EU-4m5s") はァ!?
                    .button.button-play(data-voice="q62MoJc56EU-4m16s") ハハハハハwww
                    .button.button-play(data-voice="q62MoJc56EU-9m9s") ｼﾞｭﾙｯ……
                    .button.button-play(data-voice="q62MoJc56EU-9m25s") うんわかったぁ
                    .button.button-play(data-voice="q62MoJc56EU-11m57s") ハッハァ！ww
                    .button.button-play(data-voice="q62MoJc56EU-14m17s") ッシャア！（音割れ）
                    .button.button-play(data-voice="q62MoJc56EU-14m45s") マジでそういうの得意！
                    .button.button-play(data-voice="q62MoJc56EU-16m15s") ウオ"ッ！
                    .button.button-play(data-voice="q62MoJc56EU-19m59s") おいしかったー♡
                    .button.button-play(data-voice="q62MoJc56EU-22m3s") 庶民の気持ちもわかってあげないと
                    .button.button-play(data-voice="q62MoJc56EU-22m26s") ぴょ〜〜〜ん
                    .button.button-play(data-voice="q62MoJc56EU-29m41s") ハッハァ↓ww
                    .button.button-play(data-voice="q62MoJc56EU-32m14s") 引き笑い
                    .button.button-play(data-voice="q62MoJc56EU-34m38s") うっさいな初めてなんだよ！
                    .button.button-play(data-voice="q62MoJc56EU-36m1s") えっちぃ！
                    .button.button-play(data-voice="q62MoJc56EU-36m06s") アッハァ！（バンバンバン）
                    .button.button-play(data-voice="q62MoJc56EU-38m52s") ニワトリ
                    .button.button-play(data-voice="q62MoJc56EU-44m25s") ダメ〜
                    .button.button-play(data-voice="q62MoJc56EU-46m26s") あいさつ（母国語）
                    .button.button-play(data-voice="q62MoJc56EU-1h26m58s") ねぇねぇこっち来て……♡（強）
                    .button.button-play(data-voice="q62MoJc56EU-1h32m3s") 照れ隠し……
                    .button.button-play(data-voice="q62MoJc56EU-1h57m51s") でちゃった
                    .button.button-play(data-voice="q62MoJc56EU-2h16m30s") ラブアンドピーッスww
                    .button.button-play(data-voice="q62MoJc56EU-2h18m20s") マリオカート
                    .button.button-play(data-voice="q62MoJc56EU-2h19m20s") バカが！
                    .button.button-play(data-voice="q62MoJc56EU-2h23m1s") なにが〜？
                    .button.button-play(data-voice="q62MoJc56EU-2h23m58s") なハッ！w
                    .button.button-play(data-voice="q62MoJc56EU-2h36m49s") ちょうしゃびーこん
                    // https://www.youtube.com/watch?v=cBwNGaX_efc
                    .button.button-play(data-voice="cBwNGaX_efc-31m31s") ウオ"ア"ッ!!
                    .button.button-play(data-voice5="cBwNGaX_efc-51m7s") 人を押し退けるの得意
                    .button.button-play(data-voice="cBwNGaX_efc-1h06m27s") よいしょ
                    .button.button-play(data-voice="cBwNGaX_efc-1h28m49s") おいしょー！
                    .button.button-play(data-voice="cBwNGaX_efc-1h36m51s") フライドポテトたべてる
                    // .button.button-play(data-voice="cBwNGaX_efc-1h40m47s") ナイス金の卵
                    // 【ぶいすぽ_CRG】APEXやります緊張！ソロ→CRGフルパ【英リサ】
                    // https://www.youtube.com/watch?v=NWW_LlmDtPI
                    .button.button-play(data-voice="NWW_LlmDtPI-42m31s") こんにちは〜（怖）
                    .button.button-play(data-voice="NWW_LlmDtPI-42m47s") ごめんなさい
                    .button.button-play(data-voice="NWW_LlmDtPI-1h37m38s") ごめんなさい（迫真）
                    .button.button-play(data-voice="NWW_LlmDtPI-1h22m45s") どついたら死ぬ
                    // 【英リサ/vtuber】天下泰平【Detroit: Become Human】
                    // https://www.youtube.com/watch?v=rmAbQFh4aSc
                    .button.button-play(data-voice="rmAbQFh4aSc-1h40m7s") バカが……
                    .button.button-play(data-voice="rmAbQFh4aSc-1h43m48s") ほらかかって来いよ
                    .button.button-play(data-voice="rmAbQFh4aSc-1h49m41s") え"…
                    .button.button-play(data-voice="rmAbQFh4aSc-2h05m50s") 抱きしめろ！
            .mainFooter
                .credit
                    p 音声の著作権は、全て元著作者に帰属します。
                    p 音声以外の部分については、<a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/deed.ja" target="_blank">CC-BY-NC-SA-4.0</a>に基づき自由にご利用ください。<br>
                        |ソースコードは<a href="https://github.com/niltea/hanarisa-button" target="_blank">こちら</a>。<br>お問い合わせ・追加したら面白そうなボイスがあれば
                        a(href="https://twitter.com/niltea_vt", target="_blank") @niltea_vt
                        |まで。

    script(src='./js/app.js')
    //<script async src="https://www.googletagmanager.com/gtag/js?id=UA-115478883-3"></script>
    //script
        |window.dataLayer = window.dataLayer || [];
        |function gtag(){dataLayer.push(arguments);}
        |gtag('js', new Date());
        |gtag('config', 'UA-115478883-3');
    script(async, src="https://platform.twitter.com/widgets.js", charset="utf-8")
